altgraph==0.17.4
certifi==2022.12.7
distlib==0.3.6
filelock==3.9.0
packaging==23.2
pefile==2023.2.7
pipenv==2022.12.19
platformdirs==2.6.2
psutil==5.9.6
pycodestyle==2.10.0
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
pynput==1.7.6
pypiwin32==223
python-dotenv==1.0.0
pywin32==306
pywin32-ctypes==0.2.2
six==1.16.0
virtualenv==20.17.1
virtualenv-clone==0.5.7
watchdog==3.0.0
win10toast==0.9
